/*Customs css*/
.panel {
    z-index: 90000;
}

/*fix*/
.rating__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 97px;
    height: 16px;
    white-space: nowrap;
    background: url(/local/images/sprite-rating.png) 0 0 no-repeat;
}
