<?php
/**
 * Перекрывающая конфигурация для сайта с id s1
 */
\YT\Environment\EnvironmentManager::getInstance()->addConfig(
	new \YT\Environment\Configuration\SiteConfiguration(
		's1',
		array(
			// 'key' => 'value',
		)
	)
);
